<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/post.js"></script>
</head>
<body>
    <h1>Edit Post</h1>

    <form action="/update_post" method="post" class="edited_post">
        <input type="hidden" name="post_id" value="<%= post_id %> ">
        <input type="text" name="edited_post" id="edited_post">

        <input type="submit" value="Update Post">
    </form>
</body>
</html>